# PROBLEM 1

In [85]:
import pandas as pd

#Load the 'cars.csv' file into a DataFrame named 'cars'
cars = pd.read_csv('cars.csv')

#Display the concatenated first 5 rows (head) and last 5 rows (tail) of the DataFrame
#'cars.head()' returns the first five rows and cars.tail() returns the last 5 rows
pd.concat([cars.head(), cars.tail()])

,Model,mpg,cyl,disp,hp,drat,wt,qsec,vs,am,gear,carb
0,Mazda RX4,21.0,6,160.0,110,3.90,2.620,16.46,0,1,4,4
1,Mazda RX4 Wag,21.0,6,160.0,110,3.90,2.875,17.02,0,1,4,4
2,Datsun 710,22.8,4,108.0,93,3.85,2.320,18.61,1,1,4,1
3,Hornet 4 Drive,21.4,6,258.0,110,3.08,3.215,19.44,1,0,3,1
4,Hornet Sportabout,18.7,8,360.0,175,3.15,3.440,17.02,0,0,3,2
27,Lotus Europa,30.4,4,95.1,113,3.77,1.513,16.90,1,1,5,2
28,Ford Pantera L,15.8,8,351.0,264,4.22,3.170,14.50,0,1,5,4
29,Ferrari Dino,19.7,6,145.0,175,3.62,2.770,15.50,0,1,5,6
30,Maserati Bora,15.0,8,301.0,335,3.54,3.570,14.60,0,1,5,8
31,Volvo 142E,21.4,4,121.0,109,4.11,2.780,18.60,1,1,4,2

# PROBLEM 2

In [87]:
import pandas as pd

#Load the 'cars.csv' file into a DataFrame named 'cars'
cars = pd.read_csv('cars.csv')

#a. Display the first five rows with odd-numbered columns (1, 3, 5, 7...)
#Select the first 5 rows and every second column starting from index 1
print("First five rows with odd-numbered columns:")
print(cars.iloc[:5, 1::2])

#b. Display the row that contains the ‘Model’ of ‘Mazda RX4’
#Filter the DataFrame to include only the row where the 'Model' column matches 'Mazda RX4'
print("\nRow with Model 'Mazda RX4':")
print(cars[cars['Model'] == 'Mazda RX4'])

#c. How many cylinders (‘cyl’) does the car model ‘Camaro Z28’ have?
#Use .loc to filter the row where 'Model' is 'Camaro Z28' and select the 'cyl' column
#Since the result is a Series, use .iloc[0] to get the scalar value for the cylinders
print(f"\nCylinders in 'Camaro Z28':")
print(f"{cars.loc[cars['Model'] == 'Camaro Z28', 'cyl'].iloc[0]} cylinders")

#d. Determine how many cylinders (‘cyl’) and what gear type (‘gear’) the car models ‘Mazda RX4 Wag’, ‘Ford Pantera L’, and ‘Honda Civic’ have
#Use .isin() to filter rows where the 'Model' matches any of the specified models
#Select the 'Model', 'cyl', and 'gear' columns to display
print("\nCylinders and gear type for selected models:")
models = ['Mazda RX4 Wag', 'Ford Pantera L', 'Honda Civic']
print(cars[cars['Model'].isin(models)][['Model', 'cyl', 'gear']])

First five rows with odd-numbered columns:
    mpg   disp  drat   qsec  am  carb
0  21.0  160.0  3.90  16.46   1     4
1  21.0  160.0  3.90  17.02   1     4
2  22.8  108.0  3.85  18.61   1     1
3  21.4  258.0  3.08  19.44   0     1
4  18.7  360.0  3.15  17.02   0     2

Row with Model 'Mazda RX4':
       Model   mpg  cyl   disp   hp  drat    wt   qsec  vs  am  gear  carb
0  Mazda RX4  21.0    6  160.0  110   3.9  2.62  16.46   0   1     4     4

Cylinders in 'Camaro Z28':
8 cylinders

Cylinders and gear type for selected models:
             Model  cyl  gear
1    Mazda RX4 Wag    6     4
18     Honda Civic    4     4
28  Ford Pantera L    8     5